

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>IRPF 2021 </h1>
    <p class="lead">Iformações sobre o Imposto de Renda Pessoa Fisica 2021 no site da Receita Federal</p>
    <p><a href="https://www.gov.br/receitafederal/pt-br" class="btn btn-primary btn-lg">Mais Informações &raquo;</a></p>
</div>



